<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Frequência</title>
</head>
<body>
    <h1>Diga-nos quem é você:</h1>
    <form action="{% url 'register' %}" method="POST" class="post-form">
    {% csrf_token %}
    <select name="aluno_r">
        {% for matricula in matriculas %}
            <option>{{ matricula.aluno }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="save btn btn-success">OK</button>
    </form>
</body>
</html>