/* ----------- PC ----------- */
html {
    background-color: #fbffca;
}

header {
    width: 100%;
    background-color: black;
}

h1 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #ffffff;

 }

h2 {
    margin: 0 auto;
    padding: 20px 40px 10px;
    text-align: left;
}

#h2-2 {
    margin: 0 auto;
    padding: 20px 40px 10px;
    text-align: center;
}

#inst{
    width: 100%;
    padding: 20px 20px 0 20px;
    display: inline-block;
}

p{
    color: #000000;
    font-size: x-large;
    text-align: center;
    margin: 0 auto;
}

body {
    width: 70%;
    margin: 0 auto;
    background-color: #fff8fd;
}

#cont{
    padding: 0 20px 20px 20px;
}

img {
    display: block;
    margin: 0 auto;

}

form {
    padding: 10px 40px 20px;
}

label {
    padding-left: 5px;
}

#imgConf {
    width: 20%;
    padding-top: 20px;
    padding-bottom: 40px;
}


 /*!* ----------- Tablet ----------- *!*/
/*@media*/
/*  (max-device-width: 800px){*/
/*    body{*/
/*        width: 90%;*/
/*    }*/
/*    h2{*/
/*        font-size: 500%;*/
/*    }*/
/*    label{*/
/*        font-size: 250%;*/
/*    }*/
/*    option{*/
/*        font-size: 250%;*/
/*    }*/
/*    button*/
/*}*/


 /*!* ----------- Phone ----------- *!*/
/*@media screen*/
/*  and (device-width: 425px){*/
/*    body{*/
/*        width: 100%;*/
/*    }*/
/*    h2{*/
/*        font-size: 600%;*/
/*    }*/
/*    label{*/
/*        font-size: 300%;*/
/*    }*/
/*    option{*/
/*        font-size: 300%;*/
/*    }*/
/*    button*/
/*}*/