<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classroom</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">

    <!-- jQuery is required by Materialize to function -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>


</head>
<body class="green lighten-5">
        <nav class="red darken-4" style="padding-left: 10px;">
            <div class="nav-wrapper">
                <a href="#">Classroom-IFPI</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'add_professor' %}">Cadastre-se</a></li>
                </ul>
            </div>
        </nav>
        <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
            <div class="valign" style="width:100%;">
                <div class="container" style="heigth:100%">
                    {% block container %}

                    {% endblock container %}
                </div>
            </div>
        </div>
</body>
</html>