{% extends 'base.html' %}
{% load staticfiles %}
{% block 'body' %}

<div class="row" style="margin: 12px; padding-bottom: 10%">
    <form class="col s8 offset-s2 center" method="post" action="{% url 'add_horario' %}">
        {% csrf_token %}
        <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <select name="dia_semana" class="validate">
                        <option value="SEGUNDA">Segunda-feira</option>
                        <option value="TERCA">Terça-feira</option>
                        <option value="QUARTA">Quarta-feira</option>
                        <option value="QUINTA">Quinta-feira</option>
                        <option value="SEXTA">Sexta-feira</option>
                    </select>
                    <label>Dia da Semana</label>
                </div>
                <div class="input-field col s6">
                    <input id="hora_inicio" name="hora_inicio" type="time" class="validate">
                    <label for="hora_inicio">Hora de Início</label>
                </div>
                <div class="input-field col s6">
                    <input id="hora_fim" name="hora_fim" type="time" class="validate">
                    <label for="hora_fim">Hora de Fim</label>
                </div>
                <div class="input-field col s12">
                    <select name="turma" class="validate" required>
                      {% for turma in turmas %}
                        <option value="{{ turma.id }}">{{ turma }}</option>
                      {% endfor %}
                    </select>
                    <label>Turma</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn">Salvar</button>
        <button type="reset" class="btn red">Cancelar</button>
    </form>
</div>

{% endblock %}