{% extends 'base.html' %}
{% load staticfiles %}
{% block 'body' %}
<div style="padding-right: 20px;">
    <div class="row">
        {% if disciplinas.all.count > 0 %}
        <ul class="col s8 offset-s2 collection">
            {% for disciplina in disciplinas %}
            <li class="collection-item avatar">
                <i class="material-icons circle green">
                    <i class="fas fa-book"></i>
                </i>
                <b class="title">{{ disciplina.descricao }}</b>
                <p>COD - {{ disciplina.id }}<br>
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">
                    <i class="fas fa-star"></i>
                </i></a>
            </li>
            {% endfor %}
        </ul>
        {% else %}

        <div class="card center" style="padding: 20px">
            <b class="grey-text">Atenção: Nenhuma disciplina cadastrada!</b>
        </div>
        {% endif %}
    </div>
</div>


<div class="fixed-action-btn">
    <a href="{% url 'add_disciplina' %}"
       class="btn-floating btn-large red darken-4">
        <i class="fas fa-plus"></i>
    </a>
</div>
{% endblock %}