{% extends 'base.html' %}
{% load staticfiles %}
{% block 'body' %}

    <!--<p class="right-align" style="margin: 14px;">-->
        <!--<a class="btn tean btn-small">-->
            <!--<i class="fas fa-plus"></i>-->
            <!--Turma-->
        <!--</a>-->
    <!--</p>-->

    <div class="card-body">
        <div class="row">
            {% for turma in turmas %}
                <div class="col s4">
                    <br>
                    <div class="card horizontal ">
                        <div class="card-image center green">
                            <img src="{% static 'img/google_classroom.png' %}" style="width: 170px; height: 140px;">
                        </div>
                        <div class="card-stacked ">
                            <div class="card-content">
                                <p class="flow-text">{{ turma }} - {{ turma.carga_horaria}}h</p>
                                <p>{{ turma.curso }} - {{ turma.ministrante }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'turma_detalhe' turma.id %}">Ver detalhes</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

  <div class="fixed-action-btn">
      <a href="{% url 'add_turma' %}" class="btn-floating btn-large tean">
        <i class="fas fa-plus"></i>
      </a>
  </div>
{% endblock %}